.left img{
    height:60px;
    width:200px;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 20px 40px 20px 20px;
} 
.right ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
.right ul li{
    display: flex;
    list-style-type:none;
    align-items: center;
    cursor: pointer;
}
.right ul li img{
    height:30px;
    width: 30px;
}
.right ul li:hover {
    color: red;
}
